### Name: Varigonda Sai Nirmal Vignu
### Email: varigondanirmal1@gmail.com
### Programming Assignment - 2

### 1. Write a Python program to convert kilometers to miles?

In [1]:
## 1 km = 0.62137119 miles. 
km=float(input("Enter no of kilometers = "))
miles=km*0.62137119
print(f"{km} km in miles = {miles} miles")

Enter no of kilometers = 3
3.0 km in miles = 1.8641135699999998 miles

### 2. Write a Python program to convert Celsius to Fahrenheit?

In [3]:
# Farenheit = (celsius*(9/5))+32

celsius = int(input("Enter temperature in celsius : "))
Farenheit = (celsius*(9/5))+32
print(f"{celsius}째 Celsius is Equal to {Farenheit}째 Farenheit")

Enter temperature in celsius : 38
38째 Celsius is Equal to 100.4째 Farenheit

### 3. Write a Python program to display calendar?

In [5]:
import calendar
year=int(input("Enter year to display calendar = "))
print(calendar.calendar(year))

Enter year to display calendar = 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

### 4. Write a Python program to solve quadratic equation?

In [11]:
import cmath
import math

a = int(input('Enter a value: '))
b = int(input('Enter b value: '))
c = int(input('Enter c value: '))

d = b**2-4*a*c
print(f'\nFor quad eq. {a}x^2 + ({b})x^1 + {c} = 0')
if d == 0:
    r1 = -b/2*a
    r2 = -b/2*a
    print("Solutions are Real and they are = ",r1,r2)
elif d > 0:
    r1 = (-b-math.sqrt(d))/(2 * a)
    r2 = (-b+math.sqrt(d))/(2 * a)
    print("Solutions are Real and different and they are = ",r1,r2)
else:
    r1 = (-b-cmath.sqrt(d))/(2 * a)
    r2 = (-b+cmath.sqrt(d))/(2 * a)
    print("Solutions are Imaginary and they are = ",r1,r2)

Enter a value: 1
Enter b value: 2
Enter c value: 1

For quad eq. 1x^2 + (2)x^1 + 1 = 0
Solutions are Real and they are =  -1.0 -1.0


### 5. Write a Python program to swap two variables without temp variable?

In [13]:
n1=int(input('Enter first value = '))
n2=int(input('Enter second value = '))
print("Before Swapping")
print(f"n1 = {n1} and n2 = {n2}")
n2=n2+n1
n1=n2-n1
n2=n2-n1
print("------------------------------------------------------------------")
print("After Swapping")
print(f"n1 = {n1} and n2 = {n2}")

Enter first value = 12
Enter second value = 13
Before Swapping
n1 = 12 and n2 = 13
------------------------------------------------------------------
After Swapping
n1 = 13 and n2 = 12